.body {
  background-color: #171717;
  height: 100vh; /* Ensure the container covers the full viewport */
  width: 100vw;
  overflow-y: auto; /* Enable scrolling */
  position: relative; /* Allow for correct scroll tracking */
}

.squareContainer {
  position: fixed; /* Keep the squares fixed in position */
  width: 100%;
  height: 100vh; /* Cover full height */
  pointer-events: none; /* Allow scroll events to pass through */
}

.squareFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align the boxes in the center */
  height: 100vh; /* Limit the height to the viewport height */
  width: 100%;
}

.outerSquare {
  position: relative;
  background-color: rgb(216, 216, 116); /* Fallback background */
  border: 2px solid rgb(74, 74, 74);
  aspect-ratio: 9 / 16;
  width: 9%;
  height: auto;
  margin: 0;
  flex: 1 0 auto;
  background-image: url(''); /* Default placeholder or fallback */
  background-size: cover; /* Ensure image scales properly */
  background-position: center;
  background-repeat: no-repeat; /* No repeat for background */

  @media (max-width: 1400px) {
    width: 10%; /* Adjust to 5 boxes per row for smaller screens */
  }

  @media (max-width: 1155px) {
    width: 12%; /* Adjust to 5 boxes per row for smaller screens */
  }

  @media (max-width: 1030px) {
    width: 14%; /* Adjust to 5 boxes per row for smaller screens */
  }

  @media (max-width: 900px) {
    width: 16%; /* Adjust to 4 boxes per row for smaller screens */
  }

  @media (max-width: 770px) {
    width: 20%; /* Adjust to 4 boxes per row for smaller screens */
  }

  @media (max-width: 640px) {
    width: 25%; /* Adjust to 3 boxes per row for smaller screens */
  }

  @media (max-width: 510px) {
    width: 30%; /* Adjust to 3 boxes per row for smaller screens */
  }

  @media (max-width: 400px) {
    width: 50%; /* Adjust to 2 boxes per row for very small screens */
  }
}

.innerSquare {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0; /* Start with zero height */
  transition: height 0.3s ease; /* Smooth transition for height changes */
}

.full__page {
  width: 100vw;
  height: 100vh;
}

.bar__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  justify-content: space-between;

  &__inverted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
  }
}

.bar {
  height: 1vh;
  background-color: rgba(255, 255, 255, 0.4);
}

.animated__layers {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  & > * {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
  }
}

.scrollResetButton {
  position: fixed; /* Fix the button in the viewport */
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animation effect */

  &:hover {
    background-color: rgba(0, 0, 0, 0.9); /* Darker on hover */
  }
}

.homePageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.homepageOverlay h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageScrollArrow {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.titleText {
  font-size: 60px;
  padding-top: 40vh;
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  color: rgb(238, 0, 255) !important;
  font-size: 100px;
  text-align: center;

  @media (max-width: 770px) {
    font-size: 80px;
  }
  @media (max-width: 500px) {
    font-size: 60px;
  }
}

.upArrowIcon {
  font-size: 60px;
  padding-bottom: 0;
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  color: rgb(238, 0, 255) !important;
  font-size: 60px;
}

.scrollUpText {
  padding: 0;
  margin: 0;
  font-size: 40px;
  text-align: center;
  text-shadow: 10px 10px 10px rgb(255, 255, 255);
  color: rgb(238, 0, 255) !important;
  // font-size: 40px;
}
